/********
TABLET PORTRAIT UP
*********/
nav {
  label {
    font-size: 2rem;
    margin: 15px 30px;
  }
  
  .menu {
    a {
      font-size: 3rem;
      margin: 30px 0px;
    }
  }
}
  
main {
  margin: calc(30px + 2rem) 30px 30px 30px;
}
  
.index {
  .searchIn {
    border-bottom-width: 3px;
    font-size: 4rem;
    width: calc(100vw - 60px);
    padding: 5px 0px 5px 3.625rem;
  }
  
  button {
    top: 25px;
  }
  
  img {
    height: 3rem;
  }
  
  a {
    margin-left: 3.625rem;
    margin-top: 15px;
    font-size: 1.5rem;
  }
}
  
.collection {
  .searchCol {
    border-bottom-width: 2px;
    font-size: 1.5rem;
    width: calc(100vw - 60px);
    padding: 5px 0px 5px 2rem;
  }
  
  button {
    top: 12px;
  }
  
  img {
    height: 1.25rem;
  }
  
  .results {
    margin-top: 45px;
  
    p {
      font-size: 1.25rem;
    }
  
    .songs {
      a {
        border-bottom-width: 1px;
        width: 100%;
        margin-top: 15px;
      
        h1 {
          font-size: 1.5rem;
        }
          
        h3 {
          font-size: 1.25rem;
          padding: 5px 0px;
        }
      }
    }
  
    .paging {
      margin-top: 45px;
  
      a {
        padding: 5px 10px;
        font-size: 1.25rem;
      }
    }
  }
}
  
.koa {
  header {
    margin-bottom: 30px;
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 15px;
    }
    
    h3 {
      font-size: 1.5rem;
    }
  }
   
  .versions {
    margin-bottom: 30px;

    label {
      font-size: 1.5rem;
      display: inline-block;
    }
  
    .pojlabel {
      margin-right: 10px;
    }
    
    .hanlabel {
      margin-left: 10px;
    }
      
    p {
      font-size: 1.25rem;
      padding-top: 30px;
    }
  }
    
  a {
    font-size: 1.25rem;
    display: inline-block;
    width: 100%;
    text-align: right;
  }
}
  
.about {
  p {
    font-size: 1.25rem;
  }
}