<!--about page-->

<!--a child of base.html-->
{% extends "base.html" %}

<!--The content that goes within title block-->
{% block title %}{{title}}{% endblock %}

<!--The content of the page-->
{% block content %}
<main class="about">
    <p class="pojf">Tâi-gí-koa, meaning Taiwanese songs, is a website dedicating to collecting the lyrics of songs sung in Taiwanese. The language is not read or written in a widespread manner, so Tâi-gí-koa provides lyrics in both the Pe̍h-ōe-jī (church romanization) and Hanji (Chinese characters) writing systems. The website aims to promote Taiwanese literacy and encourage speakers to interact with the written Taiwanese in a fun and engaging way.</p>
</main>
{% endblock %}